{
  "presets": ["@babel/preset-env"],
  "ignore": [
    "**/babel_ignore_*.js",
    "*/js/framework/*.js",
    "*/js/libraries/*.js",
    "*/js/plugins/*.js",
    "*/js/separate-js/*.js",
    "lightgallery/dist/js/lightgallery-all.min",
    "node_modules/**/*.js"
  ]
}
