mixin b-recomendations(data)
    +b.b-recomendations
        .container
            +e.bottom-menu
                    +e.bottom-flex
                        +e.recomendation Рекомендуем
                        +e.A.recomendation-link(href='/') Все товары
                    .container
                        +e.carusel.row
                            .col-md-6.col-lg-3
                                +e.A.carusel-link.carusel-flex(href='/')
                                    +e.img
                                        img.carusel-img(src='__static__img/general/well.png')
                                    +e.like
                                        !=  pugHelpers.Icon.call(locals, {iconName: 'heart-blue'})
                                    +e.carusel-info Витамин Д Д3 D D3 капсулы 2000 МЕ 90 шт, БАД для иммунитета, витаминный комплекс для здоровья костей и зубов для женщин, мужчин Una Tuna (Уна Туна)
                                    +e.carusel-end-flex
                                        +e.carusel-price-flex
                                            +e.carusel-price-sale 869 &#x20bd
                                            +e.carusel-price
                                            +e.carusel-price-small 1269 &#x20bd
                                            +e.carusel-sale -30%
                                        +e.cart.cart-blue-link
                                            !=  pugHelpers.Icon.call(locals, {iconName: 'cart-white'})
                            .col-md-6.col-lg-3
                                +e.A.carusel-link.carusel-flex
                                    +e.img
                                        img.carusel-img(src='__static__img/general/well-black.png')
                                    +e.like
                                        !=  pugHelpers.Icon.call(locals, {iconName: 'heart-blue'})
                                    +e.carusel-info Витамин Д Д3 D D3 капсулы 2000 МЕ 90 шт, БАД для иммунитета, витаминный комплекс для здоровья костей и зубов для женщин, мужчин Una Tuna (Уна Туна)Витамин Д Д3 D D3 капсулы 2000 МЕ 90 шт, БАД для иммунитета, витаминный комплекс для здоровья костей и зубов для женщин, мужчин Una Tuna (Уна Туна)
                                    +e.carusel-end-flex
                                        +e.carusel-price-flex
                                            +e.carusel-price-sale
                                            +e.carusel-price 869 &#x20bd
                                            +e.carusel-price-small
                                            +e.carusel-sale
                                        +e.cart.cart-blue-link
                                            !=  pugHelpers.Icon.call(locals, {iconName: 'cart-white'})
                            .col-md-6.col-lg-3
                                +e.A.carusel-link.carusel-flex(href='/')
                                    +e.img
                                        img.carusel-img(src='__static__img/general/well-gray.png')
                                    +e.like
                                        !=  pugHelpers.Icon.call(locals, {iconName: 'heart-blue'})
                                    +e.product-flex
                                        +e.action-new NEW
                                        +e.action-2 2+1
                                        +e.action-week Товар недели
                                    +e.carusel-info Витамин Д 3 5000 ME 120 капсул
                                    +e.carusel-end-flex
                                        +e.carusel-price-flex
                                            +e.carusel-price-sale 869 &#x20bd
                                            +e.carusel-price
                                            +e.carusel-price-small 1269 &#x20bd
                                            +e.carusel-sale -30%
                                        +e.cart.cart-blue-link
                                            !=  pugHelpers.Icon.call(locals, {iconName: 'cart-white'})
                            .col-md-6.col-lg-3
                                +e.A.carusel-link.carusel-flex(href='/')
                                    +e.img
                                        img.carusel-img(src='__static__img/general/well-black.png')
                                    +e.like
                                        !=  pugHelpers.Icon.call(locals, {iconName: 'heart-blue'})
                                    +e.carusel-info Витамин Д Д3 D D3 капсулы 2000 МЕ 90 шт, БАД для иммунитета, витаминный комплекс для здоровья костей и зубов для женщин, мужчин Una Tuna (Уна Туна)
                                    +e.carusel-end-flex
                                        +e.carusel-price-flex
                                            +e.carusel-price-sale 869 &#x20bd
                                            +e.carusel-price
                                            +e.carusel-price-small 1269 &#x20bd
                                            +e.carusel-sale -30%
                                        +e.cart.cart-blue-link
                                            !=  pugHelpers.Icon.call(locals, {iconName: 'cart-white'})




