.page__b-recomendations {
}
.b-recomendations {
}
.b-recomendations__bottom-menu {
}
.b-recomendations__bottom-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.b-recomendations__recomendation {
    @include media-breakpoint-down(xs) {
        font-size: 30px;
    }
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 200;
    color: #21211F;
    margin-bottom: 20px;
}
.b-recomendations__recomendation-link {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #0B1547;
    display: flex;
    align-items: center;
    padding: 12px 24px 12px 24px;
}
.b-recomendations__carusel {
}
.b-recomendations__carusel-flex {
    @include media-breakpoint-down(md) {
        margin-bottom: 20px;
}
}
.carusel-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 8px;
    justify-content: space-between;
}
.b-recomendations__img{
    position: relative;
}
.carusel-img {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #21211F;
    width: 100%;
    aspect-ratio: 185 / 167;
    object-fit: contain;
}
.b-recomendations__like {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-134%) translateY(50%);
}
.b-recomendations__product-flex {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    transform: translateX(9%) translateY(-531%);
}
.b-recomendations__action-new {
    background-color: #0B1547;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 4px;
    font-family: "Nexa", sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.b-recomendations__action-2 {
    background-color: #0B1547;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 4px;
    font-family: "Nexa", sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.b-recomendations__action-week {
    background-color: #0B1547;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 4px;
    font-family: "Nexa", sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.b-recomendations__carusel-info {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #21211F;
    margin-bottom: 12px;
}
.bottom-menu-link {
    color: #21211F;
}
.b-recomendations__carusel-end-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.b-recomendations__carusel-price-flex {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}
.b-recomendations__carusel-price-sale {
    color: #AA767C;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.b-recomendations__carusel-price {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #7B809A;
}
.b-recomendations__carusel-price-small {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #AFAFAF;
    margin-top: 12px;
}
.b-recomendations__carusel-sale {
    color: #AA767C;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-top: 15px;
}
.b-recomendations__cart {
}
.cart-blue-link {
    background-color: #0B1547;
    padding: 8px 12px 8px 12px;
    align-items: center;
}





